
        </div><!--full height-->

        <div class="ui container">
            <div class="ui hidden divider"></div>

            <div class="ui right floated horizontal list">
                <div class="disabled item" href="{{$.HTTPPrefix}}/">Viewscreen {{$.Version}}</div>
            </div>

            <div class="ui horizontal list">
                <div class="item">&nbsp;</div>
            </div>
        </div>
        <script src="{{$.HTTPPrefix}}/static/js/poller.js"></script>
        <script src="{{$.HTTPPrefix}}/static/js/footer.js"></script>
    </body>
</html>
