{{template "header.html" .}}

<div class="ui container">
    <div id="transfers">
        {{template "transfers/list.html" .}}
    </div>

    <h2 class="ui dividing header">
        Search
        {{if $.Results}}
            <div class="sub header">
                {{len $.Results}} results
            </div>
        {{end}}
    </h2>
    {{if $.History}}
        <div class="ui small text history menu">
            <span class="header item">Last searches</span>
            {{if gt $.History.Size 0}}
                {{range $history := $.History.Slice}}
                    <a href="#" class="item" data-history="{{$history}}">&quot;{{$history}}&quot;</a>
                {{end}}
            {{end}}
        </div>
    {{end}}

    <form class="ui large form search">
        <div class="field">
            <div class="ui action input">
                <input type="text" id='query' name="query" placeholder="Enter a search query or torrent link" {{if not $.Results}}autofocus="autofocus"{{end}} autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <input type="hidden" id="tab" name="tab" class="hidden" value="rutracker">
                <input type="hidden" id="page" name="page" class="hidden" value="1">
                <button type="submit" class="ui blue primary search button">Search</button>
            </div>
        </div>
    </form>

    <div class="tracker menu" style="display: none">
        <div class="ui pointing secondary menu">
            <a class="red item active" data-tab="rutracker">Rutracker</a>
            <a class="blue item" data-tab="tokiotosho">TokioTosho</a>
            <a class="green item" data-tab="piratebay">PirateBay</a>
        </div>
        <div class="ui tab active" data-tab="rutracker"></div>
        <div class="ui tab" data-tab="tokiotosho"></div>
        <div class="ui tab" data-tab="piratebay"></div>
    </div>

</div>

<script src="{{$.HTTPPrefix}}/static/js/jquery.serialize-object.min.js"></script>
<script src="{{$.HTTPPrefix}}/static/js/jquery.tablesort.js"></script>
<script src="{{$.HTTPPrefix}}/static/js/jquery.scrollTo.min.js"></script>
<script src="{{$.HTTPPrefix}}/static/js/jquery.slider.js"></script>
<script src="{{$.HTTPPrefix}}/static/js/import.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Transfers should be polled immediately.
        poller('#transfers', '{{$.HTTPPrefix}}/transfers/list', 2000);
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.form.search')
            .form({
                inline: true,
                fields: {
                    name: {
                        identifier: 'query',
                        rules: [{
                            type: 'empty',
                            prompt: 'Please enter search query'
                        }]
                    }
                }
            })
            .api({
                loadingDuration: 800,
                url: "{{$.HTTPPrefix}}/import",
                method: 'POST',
                stateContext: 'button.search',
                dataType: 'html',
                serializeForm: true,
                beforeSend: function(settings) {
                    settings.data.query = settings.data.query.replace(/[^一-龠ぁ-ゔァ-ヴーン！：／a-zA-Z0-9а-я\s\S\wａ-ｚＡ-Ｚ０-９々〆〤]/gui, '');
                    if (JSON.stringify(window.oldquery) === JSON.stringify(settings.data)) return false;
                    window.oldquery = settings.data;
                    addHistory(settings.data.query);
                    return settings;
                },
                onSuccess: function (response) {
                    let activeTab = $(".ui.tab.active[data-tab]");
                    activeTab.html(response);
                    $(window).trigger('resultsComplete');
                    $('.tracker.menu').show();

                },
                onFailure: function (response) {
                    console.log("failure");
                    console.log(response);
                    $('.tracker.menu').hide();
                    window.oldquery = null;
                }
            });
    });
</script>
{{template "footer.html" .}}

