{{template "header.html" .}}

<script src="{{$.HTTPPrefix}}/static/js/jquery.copyCss.js"></script>
<script src="{{$.HTTPPrefix}}/static/js/jquery.styleimportant.js"></script>
<script src="{{$.HTTPPrefix}}/static/js/jquery.scrollTo.min.js"></script>
<script src="{{$.HTTPPrefix}}/static/js/jquery.slider.js"></script>
<div class="ui container">
    <h2 class="ui header">
        Library
        <div class="sub header">
            {{$.DiskInfo.UsedGB}} GB ({{$.DiskInfo.UsedPercent | printf "%.0f"}}%) of {{$.DiskInfo.TotalGB}} GB
        </div>
    </h2>

    <form class="ui form" action="{{$.HTTPPrefix}}/" method="GET">
        <div class="fields">
            <div class="eight wide field">
                <input type="text" name="q" value="{{$.Query}}" placeholder="Filter" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            </div>
        </div>
    </form>

    <div class="ui secondary menu">
        <div class="header item">Sort by</div>
        <a class="{{if eq $.Sort "time"}}active{{end}} item" href="{{$.HTTPPrefix}}/?q={{.Query}}&s=time">Time</a>
        <span>&middot;</span>
        <a class="{{if ne $.Sort "time"}}active{{end}} item" href="{{$.HTTPPrefix}}/?q={{.Query}}&s=name">Name</a>
    </div>

    <div class="ui hidden divider"></div>

    {{if $.Query}}
        <div class="ui hidden divider"></div>
        <a href="{{$.HTTPPrefix}}/" class="ui image label">{{$.Query}} <i class="delete icon"></i></a>
        <div class="ui hidden divider"></div>
    {{end}}

    {{if $.Library}}
        <div class="ui stackable three column grid">
            {{range $dl := $.Library}}
                <div class="column">
                    <div class="dlscard ui fluid card">
                        <a class="image" href="{{$.HTTPPrefix}}/downloads/files/{{$dl.ID}}">
                            {{if $dl.Thumbnail}}
                                <img src="{{$.HTTPPrefix}}/downloads/stream/{{$dl.ID}}/thumbnail.png">
                            {{else}}
                                <img class="notfound" src="{{$.HTTPPrefix}}/static/i/notfound.png">
                            {{end}}
                        </a>
                        <div class="content">
                            <a class="breakup header editable" href="{{$.HTTPPrefix}}/downloads/files/{{$dl.ID}}">{{$dl.ID}}</a>
                            <div class="meta">{{bytes $dl.Size}}</div>
                        </div>
                        <div class="ui green inverted dls pagination menu">
                            <a href="#" class="item dls scroll left" style="display: none;"><i class="left chevron icon"></i></a>
                            {{range $eps := $dl.GetEpisodes}}
                                <a href="{{$.HTTPPrefix}}/downloads/view/{{$dl.ID}}/{{$eps.ID}}" class="item">{{$eps.Number}}</a>
                            {{end}}
                            <a href="#" class="item dls scroll right" style="display: none;"><i class="right chevron icon"></i></a>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    {{else}}
        <div class="ui large message">
            <div class="header">You have no downloads</div>
            <p>
                Need help? Visit the <a href="{{$.HTTPPrefix}}/help">help page</a> for more info.
            </p>
        </div>
    {{end}}
            <!--tr>
                <td class="nomobile center aligned one wide">
                    <a href="{{$.HTTPPrefix}}/downloads/files/$dl.ID">
                        if $dl.Thumbnail
                            <img class="thumbnail" src="{{$.HTTPPrefix}}/downloads/stream/$dl.ID/thumbnail.png">
                        else
                            <i class="big folder icon"></i>
                        end
                    </a>
                </td>
                <td class="twelve wide">
                    <a href="{{$.HTTPPrefix}}/downloads/files/$dl.ID">$dl.ID</a>
                </td>
                <td class="right aligned three wide">
                    bytes $dl.Size
                </td>
            </tr-->

    <div class="ui hidden divider"></div>

    <!--div class="ui one column grid">
        <div class="center aligned one column row">
            <div class="column">
				<a class="ui mini basic icon button" rel="alternate" type="application/rss+xml" href="{{$.HTTPPrefix}}/podcast/{{$.FeedSecret}}" data-tooltip="Your private podcast URL (do not share)"><i class="podcast icon"></i></a>
            </div>
        </div>
    </div-->

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".ui.dls.menu").each(function () {
            let menu = this;

            $(".scroll", this).each(function () {
                let el = this;
                $(this).slider(() => buttonScroll(el, menu), 250)
            })
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.editable').click(function (e) {
            e.preventDefault();
            let el = $(this);
            if (el.hasClass('clicked')) {
                el.removeClass('clicked');

                let tmpinput = $("<input>", {
                    "type": "text",
                });
                let prev = el.clone(true);
                tmpinput.val(el.text());

                $(tmpinput).copyCSS(this, ['font-weight', 'font-size', 'padding', 'margin', 'width']);
                tmpinput.style('border', 'none', 'important');
                console.log("{{$.HTTPPrefix}}");

                tmpinput.focusout(function () {
                    let tmpel = $(this);
                    if (tmpel.val()) {
                        $.ajax({
                            type: "POST",
                            url: "{{$.HTTPPrefix}}/downloads/rename/dir",
                            data: ({
                                id: prev.text(),
                                newid: tmpel.val()
                            }),
                            success: function (data) {
                                console.log('success');
                                prev.text(tmpel.val());
                                console.log(data)
                            },
                            failure: function (data) {
                                console.log('failure');
                                console.log(data)
                            }
                        });
                    }
                    tmpel.replaceWith(prev);
                    tmpinput.remove();
                });
                $(this).replaceWith(tmpinput);
                tmpinput.focus();i
            } else {
                el.addClass('clicked');
                setTimeout(function () {
                    if (el.hasClass('clicked')) {
                        window.location.replace(el.attr('href'));
                    }
                }, 500);
            }
        });
    });
</script>
{{template "footer.html" .}}
